<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive right-block"
             style="max-height:300px;padding-bottom:50px" />
          
      </div>
     
     
      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Rahul Navale</h3>
      </div>

      <div class="text-center">@rahulnavale</div>
      <div class="text-center">
        <a href="https://www.linkedin.com/in/rahul-navale-67491273">Linkedin  </a>|
        <a href="https://www.youracclaim.com/users/rahulsn/badges">Acclaim</a>
      </div>
    </div>
  </div>
</div>